<link rel="stylesheet" href="../static/style.css">


<div class = "title">
    <h1 align="center"> Tic-Tac-Toe Game</h1>
    <h2>Choose the number of player</h2>
</div>
<form  action = "play" method="get">
    <label><input name="playernumber" type="radio" value="1" checked/>Single </label>
    <label><input name="playernumber" type="radio" value="2"/>Double</label>
    <p>
        <label> Player 1:
            <input name = "Player 1"/>
        </label>
    </p>
    <p>
        <label> Player 2:
            <input name = "Player 2"/>
        </label>
    </p>
    <p>
        <button type="submit">Play</button>
    </p>
</form>

