<link rel="stylesheet" href="../static/style.css">


<div class = "title">
    <h1 align="center"> Tic-Tac-Toe Game</h1>
    <h2>Choose the number of player</h2>
    <h3>hello {{playername}}
</div>
<form action="/play" method="get">
    <p>
        <label><input name="gametype" type="radio" value="Bot" checked/>Single </label>
        <label><input name="gametype" type="radio" value="Human" onclick = "show()" />Double</label>
    </p>
    <p>
        <label> player1:
            <input type="text" name = "player1">
        </label>
    </p>
    <script type="text/javascript">
        function show(){
            document.getElementById("player2").style.display = "block";
        };
    </script>
    <div id="player2" style="display:none">
        <label> Player2:
            <input type="text" name = "player2">
        </label>
    </div>
    <p>
        <button type="submit">Play</button>
    </p>
</form>

