<link rel="stylesheet" href="../static/style.css">
<form method="get">
    <h1 align = "center">The Chess board</h1>
    <h2>Current player is {{player_1_name}}</h2>
    <label> Please input the Row:
        <input name = "Row"/>
    </label>
        <label> Please input the Column:
            <input name = "Column"/>
        </label>
    </p>
    <p>
        <button type="submit">OK</button>
    </p>
    <table align = "center" class="playboard">
        <tr>
            <td class="dark"></td>
            <td class="dark">1</td>
            <td class="dark">2</td>
            <td class="dark">3</td>
        </tr>     
        <tr>
            <td class="dark">1</td>
            <td class="light">{{board[0][0]}}</td>
            <td class="dark">{{board[0][1]}}</td>
            <td class="light">{{board[0][2]}}</td>
        </tr>
        <tr>
            <td class="dark">2</td>
            <td class="dark">{{board[1][0]}}</td>
            <td class="light">{{board[1][1]}}</td>
            <td class="dark">{{board[1][2]}}</td>
        </tr>
        <tr>
            <td class="dark">3</td>
            <td class="light">{{board[2][0]}}</td>
            <td class="dark">{{board[2][1]}}</td>
            <td class="light">{{board[2][2]}}</td>
        </tr>
    </table>
    
<form>